.Component {
  display:          none;
  flex-flow:        column !important;
  position:         absolute !important;
  top:              100% !important;
  left:             -1px !important;
  right:            -1px !important;
  z-index:          100 !important;
  background-color: white;
  border:           inherit;
}

.Component[data-active="true"] {
  display: flex !important;
}
