.input-field {
  display:         flex;
  flex-flow:       column;
  justify-content: flex-end;
  border:          1px solid black;
  padding:         2px 4px;
  position:        relative;
}

.input-field-wrapper {
  display:     flex;
  position:    relative;
  padding-top: 15px;
}

.input-field-title {
  font-size:  16px;
  transition: font-size .2s ease-in-out, top .2s ease-in-out, transform .2s ease-in-out;
  cursor:     text;
  position:   absolute;
  top:        50%;
  left:       0;
  right:      0;
  transform:  translateY(-50%);
}

.input-field-title.active {
  font-size: 12px;
  top:       0;
  transform: translateY(0%);
}

.input-field-value {
  display:       flex;
  flex:          1 1 auto;
  font-family:   inherit;
  font-size:     16px;
  background:    transparent;
  border:        none;
  outline:       none;
  padding:       0;
  margin-bottom: -1px;
}

.input-field-error {
  color:       red;
  font-size:   calc(100% - 4px);
  border-top:  1px solid rgba(0, 0, 0, 0.5);
  white-space: break-spaces;
  word-break:  break-word;
  padding-top: 2px;
}

.input-field-dropdown {
  display:   none;
  flex-flow: column;
  position:  absolute;
  top:       100%;
  left:      -1px;
  right:     -1px;
  border:    inherit;
}

.input-field-dropdown.active:not(:empty) {
  display:          flex;
  background-color: white;
  z-index:          100;
}

.input-field-dropdown-option {
  background: transparent;
  cursor:     pointer;
}

.input-field-dropdown-option.active {
  color:      HighlightText;
  background: Highlight;
}
