.Component {
  display:         flex !important;
  align-items:     center !important;
  justify-content: center !important;
  width:           25px;
  cursor:          pointer;
}

.Component::before {
  content:            " " !important;
  border-width:       6px;
  border-style:       solid !important;
  border-top-color:   rgba(0, 0, 0, 0.3);
  border-left-color:  transparent !important;
  border-right-color: transparent !important;
  border-bottom:      none !important;
  transition:         border-top-color 200ms ease-in-out;
}

.Component:hover::before {
  border-top-color: rgba(0, 0, 0, 0.7);
}
