.Component {
  display:         flex !important;
  align-items:     center !important;
  justify-content: center !important;
  width:           25px;
  cursor:          pointer;
}

.Component::before {
  content:          " " !important;
  border-top-width: var(--input-field-caret-size) !important;
  border-top-style: solid !important;
  border-top-color: rgba(0, 0, 0, 0.3);
  border-left:      var(--input-field-caret-size) solid transparent !important;
  border-right:     var(--input-field-caret-size) solid transparent !important;
  transition:       border-top-color 200ms ease-in-out;
}

.Component:hover::before {
  border-top-color: rgba(0, 0, 0, 0.7);
}
