/* ----- Layout ----- */

.Component {
  position:   relative !important;
  box-sizing: border-box;
  padding:    2px 4px;
  border:     1px solid black;
}

.Component :global(.input-field-container) {
  display: flex !important;
  height:  36px;
}

.Component :global(.input-field-content) {
  display:         flex !important;
  flex:            1 1 auto;
  flex-flow:       column !important;
  justify-content: center !important;
}

/* ----- Title ----- */

.Component :global(.input-field-label) {
  display:         flex !important;
  flex-flow:       row !important;
  align-items:     center;
  grid-column-gap: 2px;
  font-size:       18px;
  transition:      font-size 200ms ease-in-out;
  cursor:          text;
  user-select:     none;
}

.Component[data-content="true"] :global(.input-field-label),
.Component[data-focus="true"] :global(.input-field-label),
.Component[data-hover="true"] :global(.input-field-label) {
  font-size: 12px;
}

.Component[data-content="true"] :global(.input-field-label) {
  transition: font-size 0ms ease-in-out !important;
}

/* ----- Value input field ----- */

.Component :global(.input-field-value) {
  width:       100% !important;
  height:      0 !important;
  padding:     0;
  border:      none;
  background:  transparent;
  font-size:   16px;
  font-family: inherit;
  outline:     none;
  transition:  height 200ms ease-in-out;
}

.Component[data-content="true"] :global(.input-field-value) {
  transition: font-size 0ms ease-in-out;
}

.Component[data-content="true"] :global(.input-field-value),
.Component[data-focus="true"] :global(.input-field-value),
.Component[data-hover="true"] :global(.input-field-value) {
  height: 100% !important;
}
