:root .Component {
  --input-field-input-font-size:        16px;
  --input-field-label-font-size:        16px;
  --input-field-label-active-font-size: 12px;
  --input-field-caret-size:             6px;
}

/* ----- Layout ----- */

.Component {
  display:   flex !important;
  flex-flow: column !important;
  position:  relative !important;
  padding:   2px 4px;
  border:    1px solid black;
}

.Component :global(.input-field-container) {
  display:    flex !important;
  min-height: calc(var(--input-field-input-font-size) + var(--input-field-label-font-size) + 2px) !important;
}

.Component :global(.input-field-content) {
  display:         flex !important;
  flex-flow:       column !important;
  justify-content: center !important;
}

/* ----- Title ----- */

.Component :global(.input-field-title) {
  display:         flex !important;
  flex-flow:       row !important;
  grid-column-gap: 2px;
  font-size:       var(--input-field-label-font-size) !important;
  line-height:     var(--input-field-label-font-size) !important;
  transition:      font-size 200ms ease-in-out;
  cursor:          text;
  user-select:     none;
}

.Component[data-content="true"] :global(.input-field-title),
.Component[data-focus="true"] :global(.input-field-title),
.Component[data-hover="true"] :global(.input-field-title) {
  font-size: var(--input-field-label-active-font-size) !important;
}

.Component[data-content="true"] :global(.input-field-title) {
  transition: font-size 0ms ease-in-out;
}

/* ----- Value input field ----- */

.Component :global(.input-field-value) {
  width:         100% !important;
  height:        0 !important;
  padding:       0;
  margin-bottom: -1px;
  font-size:     var(--input-field-input-font-size) !important;
  line-height:   var(--input-field-input-font-size) !important;
  font-family:   inherit;
  background:    transparent;
  border:        none;
  outline:       none;
  transition:    height 200ms ease-in-out;
}

.Component[data-content="true"] :global(.input-field-value) {
  transition: font-size 0ms ease-in-out;
}

.Component[data-content="true"] :global(.input-field-value),
.Component[data-focus="true"] :global(.input-field-value),
.Component[data-hover="true"] :global(.input-field-value) {
  height: calc(var(--input-field-label-active-font-size) + 6px) !important;
}
