/* ----- Layout ----- */

.Component {
  display:   flex !important;
  flex-flow: column !important;
  position:  relative !important;
  padding:   2px 4px;
  font-size: 16px;
  border:    1px solid black;
}

.Component :global(.input-field-container) {
  display: flex !important;
  height:  34px;
}

.Component :global(.input-field-content) {
  display:         flex !important;
  flex-flow:       column !important;
  justify-content: center !important;
}

/* ----- Title ----- */

.Component :global(.input-field-label) {
  display:         flex !important;
  flex-flow:       row !important;
  grid-column-gap: 2px;
  font-size:       18px !important;
  line-height:     18px !important;
  transition:      font-size 200ms ease-in-out;
  cursor:          text;
  user-select:     none;
}

.Component[data-content="true"] :global(.input-field-label),
.Component[data-focus="true"] :global(.input-field-label),
.Component[data-hover="true"] :global(.input-field-label) {
  font-size: 12px !important;
}

.Component[data-content="true"] :global(.input-field-label) {
  transition: font-size 0ms ease-in-out;
}

/* ----- Value input field ----- */

.Component :global(.input-field-value) {
  width:       100% !important;
  height:      0 !important;
  padding:     0;
  font-size:   16px !important;
  line-height: 16px !important;
  font-family: inherit;
  background:  transparent;
  border:      none;
  outline:     none;
  transition:  height 200ms ease-in-out;
}

.Component[data-content="true"] :global(.input-field-value) {
  transition: font-size 0ms ease-in-out;
}

.Component[data-content="true"] :global(.input-field-value),
.Component[data-focus="true"] :global(.input-field-value),
.Component[data-hover="true"] :global(.input-field-value) {
  height: 60% !important;
}
