.input-field {
  display:         flex;
  flex:            0 0 auto;
  flex-flow:       column;
  justify-content: flex-end;
  width:           200px;
  position:        relative;
  border:          1px solid black;
  border-radius:   2px;
  padding-top:     13px;
  padding-left:    2px;
}

.input-field-title {
  font-size:   100%;
  font-family: inherit;
  transition:  font-size .2s ease-in-out, top .2s ease-in-out;
  cursor:      text;
  position:    absolute;
  top:         50%;
  transform:   translate(0, -50%);
}

.input-field-title.active {
  font-size: 75%;
  top:       25%;
}

.input-field-value {
  padding:     0;
  font-family: inherit;
  background:  transparent;
  border:      none;
  outline:     none;
  transition:  font-size .2s ease-in-out;
}

.input-field-dropdown {
  display:   none;
  flex-flow: column;
  position:  absolute;
  top:       100%;
  left:      0;
  right:     0;
  border:    inherit;
}

.input-field-dropdown.active:not(:empty) {
  display:          flex;
  background-color: white;
  z-index:          100;
}

.input-field-dropdown-option {
  background: transparent;
  cursor:     pointer;
}

.input-field-dropdown-option.active {
  color:      HighlightText;
  background: Highlight;
}
