.Component {
  display:          none !important;
  flex-flow:        column !important;
  position:         absolute !important;
  top:              100% !important;
  left:             -1px !important;
  right:            -1px !important;
  z-index:          100;
  border:           inherit;
  background-color: white;
}

.Component[data-active="true"] {
  display: flex !important;
}

.Component :global(.input-dropdown-placeholder) {
  padding:     4px;
  color:       #7d7d7d;
  font-style:  italic;
  user-select: none;
}
