.Component {
  display:         flex;
  flex:            0 0 auto;
  flex-flow:       column;
  border:          1px solid black;
  border-radius:   2px;
  width:           200px;
  height:          40px;
  justify-content: center;
  position:        relative;


  .Title {
    font-size:   100%;
    font-family: inherit;
    transition:  font-size .2s ease-in-out;
    cursor:      text;

    &.Active {
      font-size: 75%;
    }
  }

  .Input {
    padding:     0;
    border:      none;
    background:  transparent;
    outline:     none;
    font-size:   0.1px;
    font-family: inherit;
    transition:  font-size .2s ease-in-out;

    &.Active {
      font-size: 100%;
    }
  }

  .Dropdown {
    display:   none;
    flex-flow: column;
    position:  absolute;
    top:       100%;
    border:    inherit;
    width:     100%;

    &.Active {
      display: flex;
    }
  }

  .Option {
    cursor:     pointer;
    background: transparent;

    &.Active {
      background: blue;
    }
  }
}
